body {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "sidebar header header header"
  "sidebar maincontent maincontent rightpanel"
  "sidebar maincontent maincontent rightpanel"
  "sidebar maincontent maincontent rightpanel";
  padding: 0;
  margin: 0;
  background-color: #e6e6e6;
  font-family: "Roboto", sans-serif;
}

p {
  color: #a0a0a0;

}

.monkey {
  border-radius: 60px;
}

.project {
  padding: 0.6rem;
  border-radius: 1rem;
  background-color: #fff;
  border-left: 11px solid #ff9900;
  box-shadow: inset;
  max-width: 350px;
  max-height: 180px;
  box-shadow: 0px 10px 8px -7px rgba(34, 60, 80, 0.52);
}
.project h2 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.announcements{
  padding: 15px;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: inset;
  max-width: 300px;
  box-shadow: 0px 10px 8px -7px rgba(34, 60, 80, 0.52);
}
.trendingunits{
  padding: 15px;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: inset;
  max-width: 300px;
  box-shadow: 0px 10px 8px -7px rgba(34, 60, 80, 0.52);
  display: grid;
  gap: 25px;
}
.trendingunit{
  display: grid;
  grid-template-rows: 55px 55px;
  grid-template-areas: 
  "trendingpic h4"
  "trendingpic p";
}

.trendinguinit h4{
  grid-area: h4;
}

.trendingunit p{
  grid-area: p;
}

.announcementunit h3 {
  place-self: left;
}

.announcementunit p {
  place-self: center;
  font-size: small;
}

header {
  display: grid;
  grid-area: header;
  grid-template-areas:
  "searchbar searchbar . profile"
  "welcome . . profile";
  padding: 10px;
  padding-left: 15px;
  margin-bottom: 8px;
  background-color: #ffffff;
  box-shadow: 0px 10px 8px -7px rgba(34, 60, 80, 0.52);
  max-height: fit-content;
}

.maincontent {
  grid-area: maincontent;
  background-color: #e6e6e6;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(6, auto);
  gap: 15px;
  padding: 15px;
}
.maincontent h2 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.maincontent p {
  height: 100%;
  font-size: smaller;
}
.rightpanel {
  grid-area: rightpanel;
}
.sidebar {
  grid-area: sidebar;
  background-color: #1992d4; /* Blue color */
  color: white;
}
.avatar img, .profile img {
  width: 120px;
}
.trendingpic {
  width: 120px;
  border-radius: 60px;
  grid-area: trendingpic;
}
.profile {
  grid-area: profile;
  display: grid;
  grid-template-columns: max-content;
  grid-template-areas: 
  "avatar h3"
  "ul ul";
}
.profile ul {
  grid-area: ul;
  place-self: center start;
  
}
.profile h3 {
  grid-area: h3;
  place-self: center start;
}
.welcome{
  grid-area: welcome;
  display: grid;
  grid-template-columns: max-content;
  grid-template-areas: 
  "avatar h2"
  "avatar h3";
}
.avatar {
  grid-area: avatar;
  max-width: fit-content;
  max-height: fit-content;
}
.welcome h2{
  grid-area: h2;
  place-self: center start;
}
.welcome h3{
  grid-area: h3;
  place-self: center start;
}
.searchbar{
  grid-area: searchbar;
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 28px;
  background: #f6f6f6;
  height: 15px;
}
.search-input{
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
}
.search-input::placeholder {
  color: rgba(0, 0, 0, 0.25);
}
.profile ul {
  display: flex;
  gap: 15px;
}

ul {
  list-style-type: none;
  padding-top: 35px;
}

ul li {
  display: flex;
  align-items: center;
  margin: 15px;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

a { 
  color: inherit; 
} 

.sidebar h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 45px;
}

li a {
  padding-left: 10px;
}

.button {
  background-color: #1992d4; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #1992d4;
  border-radius: 36px;
}

.button2:hover {
  background-color: #1992d4;
  color: white;
}